body {
	background-color: #f1b7ed;
}
table {
	margin: 0 auto;
}
.cell {
	width: 15px;
	height: 15px;
	padding: 0px;
}
#myDiv {
	color: #edf1b7;
	font-size:50px;
	text-align: center;
}
.input {
	height:50px;
	width:50px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: blue;
	border-radius: 50%;
	background-color: #edf1b7;
}
.btn {
	background-color: #edf1b7;
	height:30px;
	width:150px;
}
.Start {
	color: blue;
}
.Stop {
	color: red;
}
.Reload {
	color: green;
}

#input-label {
	text-align: center;
	color: blue;
}
