body {
	background-color: #00CC00 ;
}
table {
	text-align: center;
}
.cell {	
	width: 5px;
	height: 5px;
	padding: 0px;
}
#mySpan {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	font-size:150px; 
	float: left; 	
}
.input {
	height:30px; 
	width:50px;
}
.buttonStart {
	height:30px; 
	width:150px; 
	color: blue;
}
.buttonStop {
	height:30px; 
	width:150px; 
	color: red;
}